.PendingNudge {
  border-radius: 10px;
  background-color: #f1f5f9;
}

.PendingTopBar {
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.nudgeText {
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* or 154% */
  padding-left: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1px;

  color: #000000;
}

.PendingBottomBar {
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: row;
  /* flex: 1 1 auto; */
  gap: 0.5em;
  padding-bottom: 0.5em;
}

.NudgeCategory {
  border: 1px solid #60a5fa;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2em;
  padding: 0.5em;
}

.assigned {
  display: flex;
  padding-right: 1em;
  justify-content: right;
  align-content: right;
  margin-left: auto;
}

#Delete {
  margin-left: auto;
  margin-right: 1em;
}

#Edit {
  margin-right: 1em;
}
