.PageHeader {
  flex: 0 0 50px;
  /* background-color: red; */
  background-color: white;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.PartnerLogos {
  height: 2em;
  justify: center;
  margin-right: 2em;
}

.NudgePlatformTitle {
  margin-left: 1em;
  font-size: 1.5em;
  
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;

/* 500 */

color: #64748B;

}