.MainPage {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: auto;
  flex: 1 1 auto;
  overflow-y: auto;
  background-color:white;
  margin:auto;
}
.NudgeList{
  margin-left: 1em;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}
.flex-container{
  column-count: 3;
  column-gap: 3px;
  column-rule: 4px dotted rgb(79,185,227);
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.card {
  break-inside: avoid;
  background-color: white;
  border: 2px solid white;
  padding: 10px;
}

.assignCard {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  border: 2px solid white;
  padding: 10px;
}

.assignButton {
  align:right;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.2em;
  height:fit-content;
}